@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  box-sizing: border-box !important;
  font-family: 'Inconsolata', monospace !important;
}

#about-content-wrapper {
  position: absolute;
  margin-top: 150px; 
  width: 100%;
} 

#about-header {
  text-align: center;
}

