/* 
  Edit made by Alex Khazzam on 3/5/21 
  -----------------------------------
  - Styling the #navbar, #logo, #search, ::placeholder, .nav-link and #about   
*/

/* 
  Edit made by Alex Khazzam on 3/6/21 
  -----------------------------------
  - Creating global color variable in :root to prevent repitition in the future
  - Adding comment to some styles
  - Adding bold coloring to nav links when hovered over 
  - Getting rid of Bootstrap's default input box shadow on :focus
*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  box-sizing: border-box !important;
  font-family: 'Inconsolata', monospace !important;
}

:root {
  --plainWhite: #ddd;
}

#navbar {
  position: fixed; /* fixed positioning makes element stay at the top of the page */
  width: 100%; /* takes up entire page width */
  box-shadow: 1px 1px 5px rgba(32, 32, 32, 0.87);
}

#logo {
  width: 60px;
  height: 60px;
}

#search-wrapper {
  display: flex;
}

#search-wrapper input,
#search-wrapper button {
  border-radius: 0px !important;
}

#search {
  border-bottom: 1px solid var(--plainWhite) !important;
  background-color: transparent;
  border-radius: 0px;
  color: var(--plainWhite);
  border: none;
}

#search:focus {
  /* Focus is a pseudo selector that is enabled once clicking into an input field */
  box-shadow: none !important;
}

::placeholder {
  /* Referencing the placeholder "search" inside #search */
  color: var(--plainWhite) !important;
}

.nav-link {
  color: var(--plainWhite) !important;
  letter-spacing: 1px;
}

.dropdown-item {
  padding-left: 10px !important;
  color: white !important;
  background-color: transparent !important;
}

.dropdown-item:hover {
  opacity: 1.5 !important;
  font-weight: bold !important;
}

.dropdown-item:link,
.dropdown-item:visited {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.dropdown-item:hover,
.dropdown-item:active {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: 0 0.5rem 1rem black;
}

.nav-link:hover {
  font-weight: bold;
}

#programming-dropdown,
#entertainment-dropdown {
  color: rgb(7, 187, 61) !important;
}

#entertainment-dropdown-links,
#programming-dropdown-links {
  background-color: #343a40 !important;
}

.nav-link,
.nav-link:link,
.nav-link:visited {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav-link:hover {
  /* Hover is a pseudo selector */
  /* Providing styling to nav links when hovered over */
  -webkit-transform: translateY(-2px);
  text-shadow: 0 0.5rem 1rem rgb(0, 0, 0);
  transform: translateY(-2px);
}
