/* 
Edit made by Alex Khazzam on 3/5/21 
-----------------------------------
Styling the #navbar, #logo, #search, ::placeholder, .nav-link and #about   
*/

#navbar {
  position: fixed; /* fixed positioning makes element stay at the top of the page */
  width: 100%; /* takes up entire page width */
  box-shadow: 1px 1px 5px rgba(32, 32, 32, 0.87);
}

#logo {
  width: 60px;
  height: 60px;
}

#search {
  border-bottom: 1px solid white !important;
  background-color: transparent;
  border-radius: 0px;
  color: white;
  border: none;
}

::placeholder {
  color: white !important;
}

.nav-link {
  color: white !important;
  letter-spacing: 1px;
}

#about {
  color: rgb(7, 187, 61) !important;
}

.nav-link,
.nav-link:link,
.nav-link:visited {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav-link:hover,
.nav-link:active {
  -webkit-transform: translateY(-2px);
  text-shadow: 0 0.5rem 1rem rgb(0, 0, 0);
  transform: translateY(-2px);
}
